* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}
header{
    display: block;
    background-color: #333;
    color: white;
    padding: 10px;
}
header select{
    background-color: #333;
    color: white;
    border: none;
}
.address{
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 50px;
    margin: 10px;
}

.logo a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    background-color: #f0f0f0;
}

.nav-links {
    list-style: none;
    display: flex;
}


.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.nav-links a:hover {
    color: #007BFF;
}



.product-card img {
    max-width: 100%;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        align-items: flex-start;
    }
}