* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


  









.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 50px;
    margin: 10px;
}



.logo{
    
}

.logo a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    background-color: #f0f0f0;
}

.nav-links {
    list-style: none;
    display: flex;
}


.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.nav-links a:hover {
    color: #007BFF;
}






section{
    display: none;
}


section .list-container {
    /* border: 2px solid white; */
    text-align: center;
    display: inline-block; 
    position: relative;
    left: 20px;
    margin: 8px;
}

section ul{
    list-style: none;
    display: inline-block;
    margin: 0px 8px 0px 8px;
    line-height: 2;
    padding: 8px;
    text-align: justify;
}

.list-items{
    position:relative;
    bottom:75px;
}


.section-1 .big{
    font-size: 23px;
    font-weight: bold;
}

.PRODUCTS:hover ~ .section-1 {
    display:block;
}













.product-card img {
    max-width: 100%;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        align-items: flex-start;
    }
}